:root {
  --color-text-primary: #002324;
  --color-text-secondary: #fff;
  --color-primary: #6608c5;
  --color-secondary: #fff;
}

/* styles reset */
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h2 {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  line-height: 1.4;
  padding: 30px 0;
}
/* end of styles reset */

/* buttons */
.button {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.button-primary {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.button-primary:hover {
  color: var(--color-text-secondary);
  background-color: var(--color-primary);
}

.button-secondary {
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}

.button-secondary:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.button-tertiary {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.button-tertiary:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}
/* end of buttons */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header .button {
  padding: 15px 20px;
}

.header-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--color-text-primary);
}

.header-title span {
  color: var(--color-primary);
}

.about {
  color: var(--color-text-secondary);
  background-color: var(--color-primary);
}

.about h2 {
  text-align: center;
}

@media (min-width: 992px) {
  .about-content {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
  }
}

.about-img {
  width: 100%;
  max-width: 400px;
}

.about-description {
  padding: 0 30px;
}

.about-quote {
  text-align: center;
}

@media (min-width: 992px) {
  .projects-article {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
  }
}

.social-link {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-color: var(--color-secondary);
  border-radius: 50%;
}

.github {
  background-image: url(../../assets/icons/icon-github.png);
}

.linkedin {
  background-image: url(../../assets/icons/icon-linkedin.png);
}

.twitter {
  background-image: url(../../assets/icons/icon-twitter.png);
}
.youtube {
  background-image: url(../../assets/icons/icon-youtube.png);
}

.projects-social-links {
  background-color: black;
}

/* Notes from class */
/* .heading {
  color: rgb(48 170 98 / 48%);
  color: rgba(48, 170, 98, 0.48);
} */
