.button {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.button-primary {
  color: $color-primary;
  border: 2px solid $color-primary;
  &:hover {
    color: $color-text-secondary;
    background-color: $color-primary;
  }
}

.button-secondary {
  color: $color-secondary;
  border: 2px solid $color-secondary;
  &:hover {
    color: $color-primary;
    background-color: $color-secondary;
  }
}

.button-tertiary {
  color: $color-secondary;
  background-color: $color-primary;
  border: 2px solid $color-primary;

  &:hover {
    color: $color-primary;
    background-color: $color-secondary;
  }
}
